#canvas{
    position: absolute;
    background-color: gray;
    z-index: 0;
    top: 48px;
    left: 48px;
}
#overlay{
    position: absolute;
    top: 48px;
    left: 48px;
    z-index: 1;
}

#restart{
    z-index: 2;
    position: absolute;
    top: 530px;
    left: 900px;
    display: none;
    padding: 15px;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: inset 3px 3px 10px black;
    background-color: red;
    color: white;
    border-radius: 20px;
}

#restart:hover{
    cursor: pointer;
    box-shadow: inset 6px 6px 10px black;
}


h1{
    position: absolute;
    top: 70px;
    left: 1100px;
}


h2{
    position: absolute;
    top: 110px;
    left: 1046px;
}

p{
    color: red;
    z-index: 3;
    font-size: 50px;
    display: none;
    position: absolute;
    top: 250px;
    left: 850px;
    rotate: 30deg;
    text-shadow: 3px 3px 3px black;
    border-radius: 20px;

    box-shadow: 5px 5px 5px 5px black, inset 20px 20px 100px black;

}